*{
	padding: 0px;
	margin: 0px;
} 

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5 ,h6{
	font-family: 'Source Sans Pro', sans-serif;

}


a, a:hover{
	text-decoration: none;
}


/*header start*/

.header-section{
	width: 100%;
}

.top-header{
	width: 100%;
	padding: 10px 0px;
	background: #f5f7fa;
}

.top-header .info-inner{
	display: block;
	margin: 0px;
}

.top-header .info-inner li{
	list-style: none;
	display: inline-block;
}


.top-header .info-inner li a{
	font-size: 14px;
	color: #506a85;
	font-weight: 500;
	margin-right: 15px;

}

.top-header .info-inner li a:hover{
	text-decoration: none;
}


.top-header .info-inner li a .fa{
	margin-right: 7px;

}


.top-header .social-icons{
	text-align: right;
	display: block;
	margin: 0px;
}

.top-header .social-icons li{
	list-style: none;
	display: inline-block;
}


.top-header .social-icons li a{
	font-size: 14px;
	color: #506a85;
	margin: 0px 0px 0px 17px;

}


.top-header .social-icons li a .fa{
	
}

.header-section .bg-light{
	padding: 15px 0px;
	background: #fff !important;
}

.header-section .navbar-expand-lg .navbar-nav{
	/*-ms-flex-direction: row;
	flex-direction: row;*/
	margin-left: 15px;


}


.header-section .navbar-light .navbar-nav .nav-link {
	color: #506a85;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px 10px;
}


.header-section .navbar-light .navbar-nav .active>.nav-link{

/*color: #506a85;*/
font-weight: 400;
}

.nav-item .active .nav-link:hover{
	color: #506a85;
}


.fa-search:before {
    content: "\f002";
    color: #506a85;
}


.navbar-light .navbar-nav .nav-link:hover{
	color: #00bc9c;
}


.navbar-light .navbar-nav .nav-link:focus{
	color: #08c;
}



.navbar-light .navbar-nav .nav-link:hover {
     color: #08c; 
}




/*header end*/


/*slider start*/

.slider{
	width: 100%;
}

.slider .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.slider .carousel-caption h2{
	font-size: 65px;
	line-height: 74px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;

}

.slider .carousel-caption p{
	color: #a3b1bf;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;

}

.slider .carousel-caption .btn{
	font-size: 14px;
	font-weight: 600;
	padding: 10px 35px;
	text-transform: uppercase;
	border-radius: 2px;
	border: 1px solid #00bc9c;
	background: #00bc9c;
	color: #fff;
	margin-top: 35px;
	transition: 1s;
}

.slider .carousel-caption .btn:focus, .slider .carousel-caption .btn:hover{
	border: 1px solid #00bc9c;
	background: transparent;
	color: #00bc9c;

}





/*slider end*/

/*who we are start*/

.who-we-are{
	width: 100%;
	padding: 80px 0px; 
}

.who-we-are .title{
	width: 100%;
	text-align: center;
}

.who-we-are .title h2{
	font-size: 52px;
	line-height: 74px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 2px;
	color: #506a85;
	margin-bottom: 20px;

}
.who-we-are .title p{
	color: #a3b1bf;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;

}

.who-we-are .media{
	margin-top: 40px;


}

.who-we-are .media .media-body{
	padding: 0px 12px;
}

.who-we-are .media .media-body h5{
	color: #506a85;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;



}


.who-we-are .media .media-body p{
	color: #a3b1bf;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;


}










/*who we are ends*/
